@font-face {
    font-family: LatoRegular;
    src: url("../fonts/Lato Regular.ttf")
}

@font-face {
    font-family: FontAwesome;
    src: url("../fonts/FontAwesome.otf")
}

@font-face {
    font-family: OpenSans;
    src: url("../fonts/Open Sans.ttf")
}

@font-face {
    font-family: Lato Bold;
    src: url("../fonts/Lato Bold.ttf")
}

@font-face {
    font-family: Gotham Black;
    src: url("../fonts/GothamBlack.otf")
}

@font-face {
    font-family: OpenSans Light;
    src: url("../fonts/OpenSansLight.ttf")
}

@font-face {
    font-family: BrandonGrotesque Bold;
    src: url("../fonts/BrandonGrotesque Bold.otf")
}

@font-face {
    font-family: Lato Light;
    src: url("../fonts/Lato Light.ttf")
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header {
    width: 100%;
    height: 73px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 30px;
}

.headerMenu {
    margin-right: 30px;
}

.smart-menu { 
    display: none; 
} 
    
.iconMenu { 
    position: absolute; 
    top: 18px; 
    right: 59px; 
    cursor: pointer; 
    display: none; 
}

.nav {
    font-family: LatoRegular;
    font-size: 13px;
}

.nav__menu {
    padding-left: 29px;
}

.nav__menu_colorWhite {
    color: #fefefe;
    background: #ffbb42;
    padding: 7px 17px 7px 17px;
    border-radius: 5%;
}

.nav__menu_colorGrey {
    color: #868686;
}

.banner {
    width: 100%;
    height: 589px;
    background-color: #709dca;
}

.headLineAndSubtitle {
    width: 100%;
}

.headLineAndSubtitle__headLine {
    width: 100%;
    font-size: 32px;
    line-height: 24px;
    font-family: Gotham Black;
    color: #ffffff;
    padding-top: 110px;
    text-align: center;
}

.headLineAndSubtitle__subtitle {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    font-family: OpenSans Light;
    color: #ffffff;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 23px;
}

.contactForm {
    text-align: center;
    /* padding-bottom: 347px; */

}

.contactUsForm__name, .contactUsForm__email, .contactUsForm__tel {
    height: 46px;
    width: 281px;
    text-align: left;
    margin-left: 6px;
    margin-top: 10px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    padding-left: 44px;
    font-size: 13px;
    border-radius: 5px;
}

.contactUsForm__submit {
    background-color: #ffbb42;
    color: #ffffff;
    font-size: 14px;
    font-family: OpenSans;
    border: 1px solid #ffbb42;
    width: 221px;
    height: 48px;
    text-align: center;
    padding-left: 0px;
    padding-bottom: 2px;
    margin-left: 6px;
    border-radius: 5px;
    margin-top: 10px;
}

::placeholder {
    color: #b4b4b4;
    font-size: 13px;
}

.iconMan {
    background-image: url(../images/iconMan.png); 
    background-repeat: no-repeat; 
    background-position: 15px;
}

.iconEmail {
    background-image: url(../images/iconEmail.png); 
    background-repeat: no-repeat; 
    background-position: 15px;
}

.iconTel {
    background-image: url(../images/iconTel.png); 
    background-repeat: no-repeat; 
    background-position: 15px;
}

#slider { /*положение слайдера*/
    position: relative;
	text-align: center;
    top: 67px;
}

#slider{ /*центровка слайдера*/
	margin: 0 auto;
}

#slides article{ /*все изображения справа друг от доруга*/
	width: 20%;
	float: left;
}

#slides .image{ /*устанавливает общий размер блока с изображениями*/
	width: 500%;
	line-height: 0;
}

.image {
    background-repeat: no-repeat;
}

#overflow{ /*сркывает все, что находится за пределами этого блока*/
	width: 100%;
	overflow: hidden;
}

article img{ /*размер изображений слайдера*/
	width: 65%;
}

#desktop:checked ~ #slider{ /*размер всего слайдера*/
	max-width: 960px; /*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3){
	background: url('../images/leftArow.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: left;
	margin: 60px 0 0 200px; /*сдвиг влево*/
	display: block;
	height: 68px;
	width: 68px;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(1){
	background: url('../images/rightArow.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: right;
	margin: 60px 145px 0 0; /*сдвиг вправо*/
	display: block;
	height: 68px;
	width: 68px;
}

label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
	cursor: pointer;
}

.all input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
	display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image{
	margin-left: 0;
}

#switch2:checked ~ #slides .image{
	margin-left: -100%;
}

#switch3:checked ~ #slides .image{
	margin-left: -200%;
}

#switch4:checked ~ #slides .image{
	margin-left: -300%;
}

#switch5:checked ~ #slides .image{
	margin-left: -400%;
}

#controls{ /*положение блока всех управляющих элементов*/
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}

#active label{ /*стиль отдельного переключателя*/
	border-radius: 10px; /*скругление углов*/
	display: inline-block; /*расположение в строку*/
	width: 15px;
	height: 15px;
	background: #bbb;
}

#active{ /*расположение блока с переключателями*/
	margin: 23% 0 0;
	text-align: center;
}

#active label:hover{ /*поведение чекбокса при наведении*/
	background: #76c8ff;
	border-color: #777 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5){
	background: #18a3dd;
	border-color: #18a3dd !important;
}

#slides .image{ /*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{ /*прозрачность стрелок при наведении*/
	opacity: 0.6;
}

#controls label{ /*прозрачность стрелок при отводе курсора*/
	transition: opacity 0.2s ease-out;
}


.service {
    width: 100%;
}

.headLineAndSubtitle__headLine_sevice {
    width: 100%;
    font-size: 30px;
    line-height: 22px;
    font-family: Gotham black;
    color: #394b50;
    text-align: center;
    padding-top: 203px;
}

.headLineAndSubtitle__subtitle_service {
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    font-family: OpenSans;
    color: #4e5d61;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 91px;
}

.serviceBlock {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 158px;
}

.leftBlock, .rightBlock {
    width: 50%;
    margin-left: 30px;
}

.service1, .service2, .service3, .service4, .service5, .service6 {
    margin-top: 80px;
}

.leftBlockIcon, .rightBlockIcon {
    float: left;
}

.text1 {
    padding-left: 80px;
    font-family: Lato Bold;
    font-size: 16px;
    line-height: 22px;
    color: #394b50;

}

.text2 {
    padding-left: 80px;
    padding-top: 10px;
    font-family: OpenSans;
    font-size: 13px;
    line-height: 22px;
    color: #7b7b7b;
    padding-right: 50px;
}

.aboutUs {
    width: 100%;
    display: flex;
}

.aboutUs__img {
    width: 50%;
    background-image: url(../images/abotUsImg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutUs__text {
    width: 50%;
    padding-bottom: 174px;
    background-color: #ffc155;
}

.text3 {
    font-family: Gotham black;
    font-size: 30px;
    line-height: 22px;
    color: #ffffff;
    padding-top: 164px;
    padding-left: 81px;

}

.text4 {
    font-family: OpenSans;
    font-size: 13px;
    line-height: 24px;
    color: #ffefda;
    padding-top: 28px;
    padding-left: 81px;
    padding-right: 30px;
}

.aboutUsButton {
    background-color: #ffc155;
    color: #fff7ed;
    font-size: 14px;
    font-family: LatoRegular;
    border: 1px solid #e7ad48;
    width: 145px;
    height: 46px;
    text-align: center;
    margin-left: 81px;
    margin-top: 36px;
}

.choosYourPricing {
    width: 100%;
    background-color: #e7edf3;
}

.headLineAndSubtitle__headLine_pricing {
    width: 100%;
    font-size: 30px;
    line-height: 22px;
    font-family: Gotham black;
    color: #394b50;
    text-align: center;
    padding-top: 137px;
}

.headLineAndSubtitle__subtitle_pricing {
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    font-family: Lato Light;
    color: #98a7ac;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 50px;
}

.plan {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 164px;
}

.basicPlan {
    width: 388px;
    height: 441px;
    background-color: #ffffff;
    border: 1px solid #ccd5df;
}

.basicPlanText {
    font-family: Lato Light;
    font-size: 25px;
    line-height: 22px;
    color: #818b95;
    text-align: center;
    padding-top: 57px;
}

.numbers {
    font-family: Lato Bold;
    font-size: 50px;
    line-height: 22px;
    color: #ffbb42;
    text-align: center;
    padding-top: 30px;
}

.perMonth {
    font-family: Lato Light;
    font-size: 14px;
    line-height: 22px;
    color: #8b949d;
    text-align: center;
    padding-top: 12px;
}

.text5 {
    width: 100%;
    margin-top: 34px;
}

.text6 {
    font-family: LatoRegular;
    font-size: 13px;
    line-height: 40px;
    color: #b5bbc1;
    text-align: center;
    border-top: 1px solid #e2e9f0;
    margin-left: 31px;
    margin-right: 31px;
}

.getStarted {
    font-family: LatoRegular;
    font-size: 14px;
    color: #fff7ed;
    background-color: #ffc155;
    width: 131px;
    height: 42px;
    text-align: center;
    margin-left: 130px;
    margin-top: 25px;
    border: 1px solid #ffc155;
    border-radius: 5px;
}

.premiumPlan {
    width: 395px;
    height: 501px;
    background-color: #709dca;
}

.basicPlanText_color {
    color: #ffffff;
    padding-top: 87px;
}

.numbers_color {
    color: #ffffff;
}

.perMonth_color {
    color: #ffffff;
}

.text6_color {
    border-top: 1px solid #8eb8e2;
    color: #c2e1ff;
}

.howItWork {
    width: 100%;
}

.headLineAndSubtitle__headLine_howItWork {
    width: 100%;
    font-size: 30px;
    line-height: 22px;
    font-family: Gotham black;
    color: #394b50;
    text-align: center;
    padding-top: 155px;
}

.headLineAndSubtitle__subtitle_howItWork {
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    font-family: Lato Light;
    color: #4e5d61;
    text-align: center;
    padding-top: 7px;
}

.steps {
    width: 100%;
    margin-top: 81px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.steps1 {
    width: 213px;
}

.iconSteps {
    text-align: center;
    margin-top: 40px;
}

.numbersSteps {
    font-family: Lato Bold;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: #394b50;
    margin-top: 102px;
}

.numbersSteps__2 {
    margin-top: 96px;
}

.numbersSteps__4 {
    margin-top: 96px;
}

.textSteps {
    font-family: OpenSans;
    font-size: 13px;
    line-height: 22px;
    text-align: center;
    color: #7b7b7b;
    margin-top: 28px;
}

.arow1 {
    margin-top: 110px;
}

.callToAction {
    width: 100%;
    text-align: center;
    margin-top: 130px;
    padding-bottom: 149px;
}

.getStartedNow {
    font-family: LatoRegular;
    font-size: 14px;
    color: #fff7ed;
    background-color: #ffbb42;
    width: 165px;
    height: 46px;
    text-align: center;
    border: 1px solid #ffbb42;
    border-radius: 5px;
}

.happyClients {
    width: 100%;
    background-color: #ffc155;
}

.headLineAndSubtitle__headLine_happyClients {
    width: 100%;
    font-size: 30px;
    line-height: 22px;
    font-family: Gotham black;
    color: #ffffff;
    text-align: center;
    padding-top: 141px;
}

.headLineAndSubtitle__subtitle_happyClients {
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    font-family: OpenSans;
    color: #ffffff;
    text-align: center;
    padding-top: 7px;
}

.testimonial {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 58px;
    padding-bottom: 130px;
}

.testimonial1 {
    width: 568px;
    background-color: #ffffff;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 40px;
}

.img1 {
    margin-left: 29px;
    margin-top: 43px;
    float: left;
}

.text7 {
    font-family: OpenSans;
    font-size: 13px;
    line-height: 22px;
    color: #7b7b7b;
    padding-top: 35px;
    padding-left: 184px;
    padding-right: 39px;
}

.text8 {
    font-family: LatoRegular;
    font-size: 14px;
    line-height: 22px;
    color: #f6772c;
    padding-top: 20px;
    padding-left: 182px;
}

.text8Color {
    color: #c6ced1;
}

.newsLetter {
    width: 100%;
}

.headLineAndSubtitle__headLine_newsLetter {
    width: 100%;
    font-size: 30px;
    line-height: 22px;
    font-family: Gotham black;
    color: #394b50;
    text-align: center;
    padding-top: 154px;
}

.headLineAndSubtitle__subtitle_newsLetter {
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    font-family: OpenSans Light;
    color: #394b50;
    text-align: center;
    padding-top: 7px;
}

.contactForm__newsLetter {
    padding-top: 38px;
    padding-bottom: 0px;
    text-align: center;
}

.contactUsForm__name_newsLetter {
    height: 47px;
    width: 308px;
    text-align: left;
    margin-left: 6px;
    margin-top: 25px;
    background-color: #ffffff;
    border: 1px solid #cbcbcb;
    padding-left: 44px;
    font-size: 13px;
}

.contactUsForm__email_newsLetter {
    height: 47px;
    width: 388px;
    text-align: left;
    margin-left: 6px;
    margin-top: 25px;
    background-color: #ffffff;
    border: 1px solid #cbcbcb;
    padding-left: 44px;
    font-size: 13px;
}

.contactUsForm__submit_newsLetter {
    background-color: #ffbb42;
    color: #ffffff;
    font-size: 14px;
    font-family: LatoRegular;
    border: 1px solid #ffbb42;
    width: 218px;
    height: 49px;
    text-align: center;
    padding-left: 0px;
    padding-bottom: 2px;
    margin-left: 6px;
}

.map {
    width: 100%;
    height: 606px;
    background-image: url(../images/map.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.address {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 90px;
 }

 
footer {
    width: 100%;
    height: 263px;
    border-top: 1px solid #e3e7ec;
}

.nav__footer {
    font-family: LatoRegular;
    font-size: 13px;
    color: #394b50;
}

.nav__menu_colorFooter {
    color: #394b50;
}

.nav__menu_footer {
    padding-left: 50px;
}

.headerMenu__footer {
    text-align: center;
    margin-top: 59px;
}

.footerCall {
    font-family: LatoRegular;
    font-size: 22px;
    color: #4d5c60;
    width: 100%;
    text-align: center;
    margin-top: 29px;
}

.socialMedia {
    width: 100%;
    text-align: center;
    margin-top: 22px;
}

.socialIcon {
    padding-left: 15px;
}

.copyright {
    width: 100%;
    height: 45px;
    background-color: #709dca;
    font-family: OpenSans;
    font-size: 13px;
    margin-top: 53px;
    text-align: center;
    padding-top: 30px;
    color: #ffffff;
}

@media screen and (max-width: 1763px) {
    .testimonial {
        justify-content: center;
    }

    .testimonial1 {
        margin-left: 20px;
        margin-right: 0;
    }
}

@media screen and (max-width: 1240px) {
    .arow {
        display: none;
    }

    .arow1 {
        display: none;
    }

    .steps1 {
        margin-right: 20px;
    }
}

@media screen and (max-width: 864px) {
    .iconMenu { 
        display: block; 
    }

    .nav__menu { 
        position: relative; 
        top: 63px; 
        width: 140px; 
        background-color: #000000c2; 
        color: #fff;
        right: -30px;
    }

    .nav { 
        display: none;
        font-size: 15px;
    }

    .smart-menu:checked ~ .nav { 
        display: block;
        margin-top: 226px;
        font-size: 16px;
    }

    .nav__menu { 
        display: block; 
        position: relative; 
        top: 63px; 
        width: 140px; 
        background-color: #000000c2; 
        color: #fff;
        padding-bottom: 20px;
    }

    .nav__menu_colorWhite {
        color: #fefefe;
        background: #000000c2; 
        border-radius: 0px;
        padding-left: 29px;
        padding-right: 0px;
    }
}

@media screen and (max-width: 780px) {
    #slider {
        display: none;
    }

}

@media screen and (max-width: 780px) {
    .banner {
        height: 395px;
    }

    .contactForm {
        padding-bottom: 30px;
    }

    .contactUsForm {
        margin-left: 217px;
        margin-right: 224px;
    }

    .headLineAndSubtitle__headLine {
        padding-top: 30px;
    }

    .headLineAndSubtitle__subtitle_service {
        padding-bottom: 0px;
    }

    .serviceBlock {
        display: block;
        padding-bottom: 30px;
    }

    .leftBlock, .rightBlock {
        width: 100%;
    }

    .service1, .service2, .service3, .service4, .service5, .service6 {
        margin-top: 30px;
    }

    .aboutUs__img {
        height: 300px;
    }

    .aboutUs__img {
        display: none;
    }

    .aboutUs__text {
        width: 100%;
        padding-bottom: 30px;
    }

    .text3 {
        font-family: Gotham black;
        font-size: 30px;
        line-height: 22px;
        color: #ffffff;
        padding-top: 30px;
        padding-left: 0;
        text-align: center;
    }
    
    .text4 {
        font-family: OpenSans;
        font-size: 13px;
        line-height: 24px;
        color: #ffefda;
        padding-top: 28px;
        padding-left: 81px;
        padding-right: 30px;
    }

    .aboutUsButton {
        background-color: #ffc155;
        color: #fff7ed;
        font-size: 14px;
        font-family: LatoRegular;
        border: 1px solid #e7ad48;
        width: 145px;
        height: 46px;
        text-align: center;
        margin-left: 325px;
        margin-top: 36px;
    }

    .headLineAndSubtitle__subtitle_pricing {
        padding-bottom: 10px;
    }

    .plan {
        flex-direction: column;
        padding-bottom: 20px;
    }

    .basicPlan {
        margin-top: 20px;
    }

    .premiumPlan {
        width: 388px;
        height: 441px;
        background-color: #709dca;
        margin-top: 20px;
    }

    .basicPlanText_color {
        color: #ffffff;
        padding-top: 57px;
    }

    .steps {
        margin-top: -20px;
    }

    .steps1 {
        margin-left: 41px;
    }

    .steps1__media {
        margin-left: 41px;
    }

    .numbersSteps {
        margin-top: 20px;
    }

    .callToAction {
        margin-top: 50px;
        padding-bottom: 30px;
    }

    .testimonial {
        margin: 0;
        padding-bottom: 20px;
    }

    .contactForm__newsLetter {
        padding-top: 0;
    }

    .contactUsForm__email_newsLetter {
        height: 47px;
        width: 308px;
    }

    .contactUsForm__submit_newsLetter {
        height: 47px;
        width: 355px;
        margin-top: 25px;
    }

    .map {
        width: 100%;
        height: 460px;
        background-image: none;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        top: -70px;
    }

    .address {
        top: 125px;
    }

    footer {
        height: 228px;
    }

    .headerMenu__footer {
        display: none;
    }

    .copyright {
        font-size: 11px;
    }
}

@media screen and (max-width: 520px) {
    .headLineAndSubtitle__headLine {
        font-size: 25px;
    }

    .contactUsForm {
        margin-left: 0px;
        margin-right: 0px;
    }

    .headLineAndSubtitle__subtitle_service {
        padding-bottom: 0px;
    }

    .serviceBlock {
        margin-left: 0;
    }

    .leftBlock, .rightBlock {
        width: 100%;
    }

    .text4 {
        font-family: OpenSans;
        font-size: 13px;
        line-height: 24px;
        color: #ffefda;
        padding-top: 28px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .aboutUsButton {
        background-color: #ffc155;
        color: #fff7ed;
        font-size: 14px;
        font-family: LatoRegular;
        border: 1px solid #e7ad48;
        width: 145px;
        height: 46px;
        text-align: center;
        margin-left: 200px;
        margin-top: 36px;
    }

    .testimonial1 {
        margin-right: 20px;
        margin-left: 35px;
    }

    .img1 {
        display: none;
    }

    .text7 {
        padding-left: 37px;
        text-align: center;
    }

    .text8 {
        padding-left: 0;
        text-align: center;
    }
}